packages/*/src/*.js
packages/*/src/*.js.map
packages/*/src/**/*.js
packages/*/src/**/*.js.map
!packages/*/src/setupProxy.js
!packages/*/src/reportWebVitals.js
!packages/*/config-overrides.js

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
yarn.lock
yarn-error.log
npm.lock
/**/.pnpm-debug.log

# dependencies
node_modules/
build/
dist/
.aws-sam/

# misc
**/.DS_Store
**/.env
**/.env.*
!**/.env.template

.idea/

cdk.context.json

www/.next/
www/out/

otros/
