.public-layout {
  height: 100vh;
}

.public-form {
  padding: 30px 0;
}

.public-text {
  background: url('../assets/img/divergent_dots.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6a0080;

  .MuiCard-root {
    background: hsla(291, 64%, 42%, 0.73);
    color: white;
    padding: 15px;
  }

  li {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .09px;
  }
}

.card-transparent {
  .MuiCard-root {
    background: hsla(0,0%,100%,.39);
  }
}
