.public-layout {
  height: 100vh;

  .defol-logo {
    svg {
      margin-right: 10px;
    }

    .defol-logo-text {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
    }
  }
}

.public-form {
  padding: 30px 0;
}

.public-text {
  background-color: #e3f2fd;

  .shelawyer {
    right: -275px;
    position: relative;
    top: -253px;
    display: block;
  }

  .MuiCard-root {
    padding: 15px;
  }

  li {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .09px;
  }
}

.card-transparent {
  .MuiCard-root {
    background: hsla(0, 0%, 100%, .39);
  }
}
